.gradle/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.idea/
build/
out/

.apt_generated
.settings
bin
build
lib
log
temp
.classpath
.DS_Store
.factorypath
.project
gradlew.bat
