<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注文フォーム画面</title>
    <link href="/css/add.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
</head>
<body>
<h1>注文フォーム</h1>
<form th:action="@{/bento/user/orderHistory}" th:object="${bentoOrder}" method="post">
    <p>名前<input type="text" th:field="*{name}"></td><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span></p>
    <p>弁当の種類<div th:each="item : ${radioItems}">
    <input type="radio" name="bento_id" th:value="${item.key}" th:text="${item.value}" th:field="*{bento_id}"></div></p>
    <p>ご飯の有無<input type="text" th:field="*{rice_id}"></p>
    <p>到着日<input type="date" th:field="*{arrival_date}"></p>
    <div class="btn_area_center"><input type="submit" value="登録" class="btn"></div>
</form>
</body>
</html>
