<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー登録</title>
    <link href="/css/add.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
</head>
<body>
<h1>ユーザー登録</h1>
<form th:action="@{/bento/user/orderHistory}" th:object="${bentoOrder}" method="post">
    <table>
        <tr>
            <th class="cell_title">名前</th>
            <th class="cell_required"></th>
            <td><input type="text" th:field="*{name}"></td><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
        </tr>
        <tr>
            <th class="cell_title">弁当の種類</th>
            <th class="cell_required"></th>
            <td><input type="text" th:field="*{bento_id}"></td>
        </tr>
        <tr>
            <th class="cell_title">ご飯の有無</th>
            <th class="cell_required"></th>
            <td><input type="text" th:field="*{rice_id}"></td>
        </tr>
        <tr>
            <th class="cell_title">到着日</th>
            <th class="cell_required"></th>
            <td><input type="text" th:field="*{arrival_date}"></td>
        </tr>
    </table>
    <div class="btn_area_center"><input type="submit" value="登録" class="btn"></div>
</form>
</body>
</html>
